.jumbotron {
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-color: #ffbfdf;
}
#about {
  padding-top: 4rem;
}
#Contact {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffbfdf;
}
body {
  min-height: 1000px;
}
#abc {
  padding-bottom: 4rem;
}
